jenkins:
  systemMessage: "Managed by Terraform, Helm, and JCasC."
  numExecutors: 0
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "${jenkins_admin_username}"
          password: "${jenkins_admin_password}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              id: "${jenkins_git_credentials_id}"
              scope: GLOBAL
              username: "${jenkins_git_username}"
              password: "${jenkins_git_token}"
              description: "Git credential for pipeline repositories"
unclassified:
  location:
    url: "http://jenkins.jenkins.svc.cluster.local:8080/"
