bucket         = "team9-mini-stage-terraform-state"
key            = "02-foundation/terraform.tfstate"
region         = "ap-northeast-2"
dynamodb_table = "team9-mini-stage-terraform-lock"
encrypt        = true
