bucket         = "team9-mini-terraform-state-stage"
key            = "02-foundation/terraform.tfstate"
region         = "ap-northeast-2"
dynamodb_table = "team9-mini-terraform-lock-stage"
encrypt        = true
